*.pyc
*.crt
*.pyd
*.DS_Store
*.spec
*.pstat
*.tokens
*__pycache__*
.idea/*
.logs/*
!.logs/.gitkeep
data/uploads/*
mlruns/
mlruns.db
data/clean
data/images
data/outputs_cad
data/outputs_ir
data/outputs_stix
data/scenario
app/debug_mitre.log
